/********** Grid mobile up *************/

.col-2, .col-3, .col-4, .col-6 {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;
}
/* mobile landscape 600px */
@media screen and (min-width:37.5rem) {
    .col-6 {
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }
}
/* Spjaldtölvur 768 +*/
@media screen and (min-width:48rem) {
    .col-2, .col-4 {
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }
    .col-3, .col-6 {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem 
    }
}
/* Fartölvuskjáir + */
@media screen and (min-width:60rem) {
    .col-4 {
        grid-template-columns: repeat(4, 1fr); /* 4 x 1fr */
        gap: 2rem;
    }
}
/* 1280px */
@media screen and (min-width: 80rem) {
    body {
        max-width: 80rem;
        margin:auto;
    }
    .col-6 {
        grid-template-columns: repeat(6, 1fr); /* 6 x 1fr */
        gap: 2rem;
    }
}